<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminQuit</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.AdminQuit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.AddNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connector</servlet-name>
    <servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PreAddNews</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.PreAddNews</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListNews</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.ListNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Front</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.Front</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connector</servlet-name>
    <url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>securityFilter</filter-name>
    <filter-class>cn.edu.hbpu.news.servlet.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/manager/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>cn.edu.hbpu.news.servlet.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/manager/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminQuit</servlet-name>
    <url-pattern>/manager/AdminQuit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/manager/AddNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreAddNews</servlet-name>
    <url-pattern>/manager/PreAddNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListNews</servlet-name>
    <url-pattern>/manager/ListNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Front</servlet-name>
    <url-pattern>/Front</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>changePassword</display-name>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.changePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/manager/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listManager</display-name>
    <servlet-name>listManager</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.listManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listManager</servlet-name>
    <url-pattern>/manager/listManager</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>insertManager</display-name>
    <servlet-name>insertManager</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.insertManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertManager</servlet-name>
    <url-pattern>/manager/insertManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listUser</display-name>
    <servlet-name>listUser</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.listUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listUser</servlet-name>
    <url-pattern>/manager/listUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/manager/addUser</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>classAdd</display-name>
    <servlet-name>classAdd</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.classAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classAdd</servlet-name>
    <url-pattern>/manager/classAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classManager</display-name>
    <servlet-name>classManager</servlet-name>
    <servlet-class>cn.edu.hbpu.news.servlet.classManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classManager</servlet-name>
    <url-pattern>/manager/classManager</url-pattern>
  </servlet-mapping>
</web-app>